<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>About Page</title>
  <link rel='stylesheet' type = "text/css" href='/stylesheets/site.css' />
  <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />

<body>
  <div class="container">
    <header>
      <ul>
        <li><img class="logo" src="/images/logo.png"></li>
        <li><a href="/">Browse</a></li>
        <li><a href="/create">Create a Block</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/createAccessory">Create Block Accessory</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </header>
    <main>
      <h1>About "Building Success"</h1>
      <div class="about">
        <p>
          <i>"Building Success"</i> is a place, where you can browse some of the most important truths required to build the foundation of a successful life, and also a place where you can add
          new "blocks" that
          you have discovered. </p>
      </div>
    </main>
  </div>
  <footer>@Building: Exercise for Express.js and Handlebars</footer>
</body>

</html>